body{
    background-image: url(images/bg-image.jpeg);
    background-size: cover;
    color: white;
}
.button_herf{
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    padding: 5px;
    color: rgb(82, 192, 251);
}
.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    align-items: center;
}
#index{
    text-decoration: none;
    background-color: rgb(6, 176, 255);
    padding: 5px;
    color: rgb(255, 0, 0);
}
.testoi1 {
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: inline;
}
.ultest{
    text-decoration: none;
    width: 60px;
    display: inline;
    background-color: red;
}